body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}
/* form */
main form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  border: 1px solid;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* titulo no form */
form h1 {
  text-align: center;
}

/* inputs */
form input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid;
  width: 100%;
}

/* botão de envio */
form input[type="submit"] {
  cursor: pointer;
  background-color: var(--Ocean-3);
  transition: all 0.3s ease-in-out;
  color: #fff;

  border: 1px solid #fff;
  font-weight: 500;
}

/* botão de envio com hover */
form input[type="submit"]:hover {
  background-color: var(--Ocean-5);
}

/* mensagem de erro ou autenticação de login */
form span {
  text-align: center;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
/* links do form */
main a {
  text-align: left;
  color: #fff;
}

/* mensagem do form */
.mensagem {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  display: none;
}

.mensagem.erro {
  color: red;
  display: block;
}

.mensagem.sucesso {
  display: block;
  color: green;
}
